<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="SauceDemoAppTestSuite">
  <listeners>
		<listener class-name="com.tl.framework.listeners.ExtentReportListenerV1" />
		<listener class-name="com.tl.framework.listeners.AnnotationTransformListener" />
	</listeners>
  <test thread-count="5" parallel="tests" name="LoginPageTests">
    <classes>
      <class name="com.tl.framework.sauce.demo.app.tests.TC001_LoginTest"/>
    </classes>
  </test> <!-- LoginPageTests -->
</suite> <!-- SauceDemoAppTestSuite -->